body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E3F2FD;
}
h1, h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #0D47A1;
}
h1 {
  font-weight: 700;
}
.tag-line {
  color: #F5A623;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin: 0 1rem;
}
.hero {
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-text p {
  font-size: 1rem;
}

.hero button {
  border: none;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  
}
.start-learning-button{
background-color: #FB8C00;
}
.chat-button{
    background-color: #0D47A1;
}
.start-learning-button:hover,.chat-button:hover{
    background-color: green;
}
.hero-image img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


